<div class="container">
   <div id="content">
      <div class="row">         
         <div class="col-sm-9 main-content pull-right">
            
            <div class="space10">&nbsp;</div>
           
            <div class="beta-products-list">
               <% @products.each do |category, products| %>
               <h4><%= category.name %></h4>
               <div class="beta-products-details">
                  <p class="pull-left"><%= category.products.count %> productos | <a href="index.html#">Ver mas</a></p>                  
                  <div class="clearfix"></div>
               </div>
               <div class="row">  
                  <% products.each_with_index do |product, index| %>
                  
                     <% if index < 3 %>
                     <div class="col-sm-4 wow fadeInDown">
                        <div class="single-item">
                           <div class="single-item-header">
                              <% if product.default_image %>
                                <%= image_tag product.default_image.path, :size => "262x311" %>
                              <% end %> 
                           </div>
                           <div class="single-item-body">
                              <p class="single-item-title"><%= product.name %></p>
                              <p class="single-item-price">
                                 <span><%= number_to_currency product.price %></span>
                              </p>
                           </div>
                           <div class="single-item-caption">
                              <%  if product.orderable? %>
                                <%= link_to "<i class='fa fa-shopping-cart'></i>".html_safe, buy_product_path(product.product_category.permalink, product.permalink), :method => :post, class: "add add-to-cart pull-left"  %>
                              <% end %>
                              <%= link_to "Details <i class='fa fa-chevron-right'></i>".html_safe, product_path(product.permalink), class: "beta-btn primary"  %>
                              <div class="clearfix"></div>
                           </div>
                           <% if (index + 1) % 3 == 0  %>
                              <div class="space50">&nbsp;</div>
                           <% end %>
                        </div>
                     </div>
                     <% end %>
                  <% end %>                                                        
               </div>
               <% end %>

            </div>
            <!-- .beta-products-list -->
            <div class="space50">&nbsp;</div>      
           
            <div class="beta-products-list">
               <h4>Top Products</h4>
               <div class="row">
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/4.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span>$34.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/5.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span>$34.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="ribbon-wrapper">
                           <div class="ribbon sale">Sale</div>
                        </div>
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/6.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span class="flash-del">$34.55</span>
                              <span class="flash-sale">$33.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="space40">&nbsp;</div>
               <div class="row">
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="ribbon-wrapper">
                           <div class="ribbon">New!</div>
                        </div>
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/7.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span>$34.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/8.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span>$34.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="shopping_cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 wow fadeInDown">
                     <div class="single-item">
                        <div class="single-item-header">
                           <a href="product.html"><img src="../../assets/products/3.jpg" alt=""></a>
                        </div>
                        <div class="single-item-body">
                           <p class="single-item-title">Sample Woman Top</p>
                           <p class="single-item-price">
                              <span>$34.55</span>
                           </p>
                        </div>
                        <div class="single-item-caption">
                           <a class="add-to-cart pull-left" href="http://webredox.net/demo/html/betadesign/shopping-cart.html"><i class="fa fa-shopping-cart"></i></a>
                           <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- .beta-products-list -->
         </div>
         <!-- .main-content -->
         
         <div class="col-sm-3 aside">
            <div class="widget">
               <h3 class="widget-title">Marcas</h3>
               <div class="widget-body">
                  <ul class="list-unstyled">                        
                     <% @product_brands.each do |brand, products| %>
                     <li>
                        <input type="checkbox" name="brands" id="brands-<%= brand %>" value="<%= brand %>">
                        <label for="brands-<%= brand %>"><span></span> <%= brand %> <span>(<%= products.count %>)</span></label>
                     </li>
                     <% end %>  
                     
                  </ul>
               </div>
            </div>
            <!-- brands widget -->
            <div class="widget">
               <h3 class="widget-title">Categorias</h3>
               <div class="widget-body">
                  <ul class="list-unstyled">
                     <% @products.each do |category, products| %>
                     <li>
                        <input type="checkbox" name="colors" id="colors-<%= category.name %>" value="<%= category.name %>">
                        <label for="colors-<%= category.name %>"><span></span> <%= category.name %> <span>(<%= category.products.count %>)</span></label>
                     </li>
                     <% end %>                    
                  </ul>
               </div>
            </div>
            <!-- colors widget -->
            <div class="widget">
               <h3 class="widget-title">Rango de Precios</h3>
               <div class="widget-body">
                  <div class="price-filter">
                     <div id="price-filter-range"></div>
                     <span class="pull-left">Price: <span id="price-filter-amount"></span></span>
                     <a href="index.html#" class="beta-btn primary pull-right">Filter <i class="fa fa-chevron-right"></i></a>
                     <div class="clearfix"></div>
                  </div>
               </div>
            </div>
            <!-- price range widget -->
            <div class="widget">
               <h3 class="widget-title">Mas vendidos</h3>
               <div class="widget-body">
                  <div class="beta-sales beta-lists">
                  <% @bestSellers.each do |product| %>
                     <div class="media beta-sales-item">                        
                        <% if product.default_image %>
                          <%= link_to product_path(product.permalink), class:"pull-left"  do %>
                             <% image_tag product.default_image.path, :size => "55x58" %>
                          <% end %>                               
                        <% end %>                         
                        <div class="media-body">
                           <%= product.name %>
                           <span class="beta-sales-price"><%= number_to_currency product.price %></span>
                        </div>
                     </div>
                  <% end %>
                  </div>
               </div>
            </div>
            <!-- best sellers widget -->
            <div class="widget">
               <h3 class="widget-title">Twitter Feeds</h3>
               <div class="widget-body">
                  <div class="twitter-feed beta-lists">
                     <div class="tweet">
                        <i class="fa fa-twitter"></i>
                        <div class="tweet-body">
                           <p><a href="index.html#">@ShopaHolic</a> Proin feugiat mattis ante sed adipiscing velit sodales.</p>
                           <small class="tweet-time">25 Minutes ago</small>
                        </div>
                     </div>
                     <div class="tweet">
                        <i class="fa fa-twitter"></i>
                        <div class="tweet-body">
                           <p>Proin feugiat mattis ante sed adipiscing velit sodales. <a href="index.html#">http://shopaholic.com</a></p>
                           <small class="tweet-time">25 Minutes ago</small>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- twitter feeds widget -->
            <div class="widget">
               <h3 class="widget-title">Tags</h3>
               <div class="widget-body">
                  <div class="beta-tags">
                     <a href="blog_fullwidth_2col.html">Amazing</a>
                     <a href="blog_fullwidth_2col.html">Shop</a>
                     <a href="blog_fullwidth_2col.html">Themes</a>
                     <a href="blog_fullwidth_2col.html">Clean</a>
                     <a href="blog_fullwidth_2col.html">Responsiveness</a>
                     <a href="blog_fullwidth_2col.html">Multipurpose</a>
                     <a href="blog_fullwidth_2col.html">Creative</a>
                     <a href="blog_fullwidth_2col.html">Brands</a>
                     <a href="blog_fullwidth_2col.html">Categories</a>
                  </div>
               </div>
            </div>
            <!-- tags cloud widget -->
         </div>
         <!-- .aside -->
      </div>
   </div>
   <!-- #content -->
</div>
<!-- .container -->
