<div class="container">
   <div id="content">
      <div class="row">         
         <div class="col-sm-9 main-content pull-right">
            
            <div class="space10">&nbsp;</div>
           
            <div class="beta-products-list">
               <% @products.each do |category, products| %>
               <h4><%= category.name %></h4>
               <div class="beta-products-details">
                  <p class="pull-left"><%= category.products.count %> productos | <a class="verMas" id="category-<%= category.permalink %>">Ver más</a> </p>                  
                  <div class="clearfix"></div>
               </div>
               <div class="row">  
                  <% products.each_with_index do |product, index| %>
                  
                     <div class="<% if index + 1 > 3 %>hideProduct<% end %>" id="category-<%= category.permalink %>">
                     <div class="col-sm-4 wow fadeInDown">
                        <div class="single-item">
                           <div class="single-item-header">
                              <% if product.default_image %>
                                <%= image_tag product.default_image.path, :size => "262x311" %>
                              <% end %> 
                           </div>
                           <div class="single-item-body">
                              <p class="single-item-title"><%= product.name %></p>
                              <p class="single-item-price">
                                 <span><%= number_to_currency product.price %></span>
                              </p>
                           </div>
                           <div class="single-item-caption">
                              <%  if product.orderable? && product.stock>0 %>
                                <%= link_to "<i class='fa fa-shopping-cart'></i>".html_safe, buy_product_path(product.product_category.permalink, product.permalink), :method => :post, class: "add add-to-cart pull-left"  %>
                              <% end %>
                              <%= link_to "Details <i class='fa fa-chevron-right'></i>".html_safe, product_path(product.permalink), class: "beta-btn primary"  %>
                              <div class="clearfix"></div>
                           </div>
                           <% if (index + 1) % 3 == 0 || (index + 1) == category.products.count %>
                              <div class="space50">&nbsp;</div>
                           <% end %>
                        </div>
                     </div>
                     </div>                   
                  <% end %>                                                        
               </div>
               <% end %>

            </div>
            <!-- .beta-products-list -->
            <div class="space50">&nbsp;</div>      
           
          
         </div>
         <!-- .main-content -->         
         <div class="col-sm-3 aside">            
         </div>
   </div>
   <!-- #content -->
</div>
<!-- .container -->
</div>