<!DOCTYPE html>
<html>
   <head>
   
      <title>PangeaStoreShoppe</title>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
   </head>
   <body>         
      <div id="header">
         <div class="header-top">
            <div class="container">
               <div class="pull-left auto-width-left">
                  <ul class="top-menu menu-beta l-inline">
                     <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                     <li><a href="index.html#"><i class="fa fa-sitemap"></i>Mapa del Sitio</a></li>
                  </ul>
               </div>
               <div class="pull-right auto-width-right">
                  <ul class="top-details menu-beta l-inline">
                     <li><a href="index.html#"><i class="fa fa-user"></i>Ingresar</a></li>
                     <li class="hidden-xs">
                        <select name="languages">
                           <option value="en">English</option>
                           <option value="es">Español</option>
                        </select>
                     </li>
                     <li class="hidden-xs">
                        <select name="currency">
                           <option value="usd">USD</option>
                           <option value="eur">EUR</option>
                           <option value="col">COL</option>
                        </select>
                     </li>
                  </ul>
               </div>
               <div class="clearfix"></div>
            </div>
            <!-- .container -->
         </div>
         <!-- .header-top -->
         <div class="header-body">
            <div class="container beta-relative">
               <div class="pull-left">
                  <%= link_to '<img src="../../assets/logo_pangea_2.png" alt="">'.html_safe , home_path , :id => "logo"  %>
                  <span class="slogan">Una forma de pensar, vivir y comer Saludable</span>
               </div>
               <div class="pull-right beta-components space-left ov">
                  <div class="space10">&nbsp;</div>
                  <div class="beta-comp">
                     <form role="search" method="get" id="searchform" action="http://webredox.net/">
                        <input type="text" value="" name="s" id="s" placeholder="Search entire store here..." />
                        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
                     </form>
                  </div>
                  <div class="beta-comp">
                     <div class="cart">
                        <div class="beta-select"><i class="fa fa-shopping-cart"></i> Carrito <i class="fa fa-chevron-down"></i></div>
                        <div class="beta-dropdown cart-body">
                           <%= render 'shared/order_items', :order => current_order %>
                        </div>
                     </div>                   
                  </div>
               </div>
               <div class="clearfix"></div>
            </div>
            <!-- .container -->
         </div>
         <!-- .header-body -->
         <div class="header-bottom">
            <div class="container">
               <a class="visible-xs beta-menu-toggle pull-right" href="index.html#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
               <div class="visible-xs clearfix"></div>
               <nav class="main-menu">
                  <ul class="l-inline ov">
                     <li>
                        <%= link_to "Home", home_path  %>
                        <ul class="sub-menu">
                           <li><%= link_to "Acerca de Nosotros", about_path  %></li>
                           <li><%= link_to "Portafolio", portafolio_path  %></li>
                        </ul>
                     </li>
                     <% parent_categories.each do |category| %>
                        <li><%= link_to category.name, products_path(category.permalink)  %>
                          <ul class="sub-menu">
                           <% subcategories(category.id).each do |subcategory| %>
                            <li><%= link_to subcategory.name, products_sub_path(category.permalink,subcategory.permalink)  %></li>
                          <% end %>
                          </ul>
                        </li>
                     <% end %>
                  
                     <li>
                        <%= link_to "Blog", blog_path  %>                      
                     </li>
                     
                     <li><%= link_to "Contactanos", contacto_path  %></li>
                  </ul>
                  <div class="clearfix"></div>
               </nav>
            </div>
            <!-- .container -->
         </div>
         <!-- .header-bottom -->		
      </div>
      <!-- #header -->	
      
      <%= yield %>

      <div id="footer">
         <div class="container">
            <div class="row">
               <div class="col-sm-3">
                  <div class="widget">
                     <h4 class="widget-title">Instagram Feed</h4>
                     <div id="beta-instagram-feed">
                        <div></div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-2">
                  <div class="widget">
                     <h4 class="widget-title">Information</h4>
                     <div>
                        <ul>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Web Design</a></li>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Web development</a></li>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Marketing</a></li>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Tips</a></li>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Resources</a></li>
                           <li><a href="blog_fullwidth_2col.html"><i class="fa fa-chevron-right"></i> Illustrations</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="col-sm-10">
                     <div class="widget">
                        <h4 class="widget-title">Contact Us</h4>
                        <div>
                           <div class="contact-info">
                              <i class="fa fa-map-marker"></i>
                              <p>30 South Park Avenue San Francisco, CA 94108 Phone: +78 123 456 78</p>
                              <p>Nemo enim ipsam voluptatem quia voluptas sit asnatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="widget">
                     <h4 class="widget-title">Newsletter Subscribe</h4>
                     <form action="index.html#" method="post">
                        <input type="email" name="your_email">
                        <button class="pull-right" type="submit">Subscribe <i class="fa fa-chevron-right"></i></button>
                     </form>
                  </div>
               </div>
            </div>
            <!-- .row -->
         </div>
         <!-- .container -->
      </div>
      <!-- #footer -->
      <div class="copyright">
         <div class="container">
            <p class="pull-left">Privacy policy. (&copy;) 2014</p>
            <p class="pull-right pay-options">
               <a href="index.html#"><img src="../../assets/pay/master.jpg" alt="" /></a>
               <a href="index.html#"><img src="../../assets/pay/pay.jpg" alt="" /></a>
               <a href="index.html#"><img src="../../assets/pay/visa.jpg" alt="" /></a>
               <a href="index.html#"><img src="../../assets/pay/paypal.jpg" alt="" /></a>
            </p>
            <div class="clearfix"></div>
         </div>
         <!-- .container -->
      </div>
      <!-- .copyright -->

      <!--customjs-->
      <script>
         var tpj=jQuery;
        // tpj.noConflict();
         
         tpj(document).ready(function() {
         
         if (tpj.fn.cssOriginal!=undefined)
         	tpj.fn.css = tpj.fn.cssOriginal;
         
         	tpj('.banner').revolution(
         		{
         			delay:9000,
         			startheight:700,
         			startwidth:1200,
         
         
         			hideThumbs:200,
         
         			thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
         			thumbHeight:50,
         			thumbAmount:5,
         
         			navigationType:"bullet",				// bullet, thumb, none
         			navigationArrows:"nexttobullets",				// nexttobullets, solo (old name verticalcentered), none
         
         			navigationStyle:"navbar",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
         
         
         			navigationHAlign:"center",				// Vertical Align top,center,bottom
         			navigationVAlign:"bottom",					// Horizontal Align left,center,right
         			navigationHOffset:0,
         			navigationVOffset:20,
         
         			soloArrowLeftHalign:"left",
         			soloArrowLeftValign:"center",
         			soloArrowLeftHOffset:20,
         			soloArrowLeftVOffset:0,
         
         			soloArrowRightHalign:"right",
         			soloArrowRightValign:"center",
         			soloArrowRightHOffset:20,
         			soloArrowRightVOffset:0,
         
         			touchenabled:"on",						// Enable Swipe Function : on/off
         			onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off
         
         			stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
         			stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
         
         			hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
         			hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
         			hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value
         
         			shadow:1,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
         			fullWidth:"off"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
         
         
         		});
         
         
         
         	});         
      </script>
      <script>
         //color
         jQuery(document).ready(function($) {
               jQuery('#style-selector').animate({
               left: '-213px'
             });
         
             jQuery('#style-selector a.close').click(function(e){
               e.preventDefault();
               var div = jQuery('#style-selector');
               if (div.css('left') === '-213px') {
                 jQuery('#style-selector').animate({
                   left: '0'
                 });
                 jQuery(this).removeClass('icon-angle-left');
                 jQuery(this).addClass('icon-angle-right');
               } else {
                 jQuery('#style-selector').animate({
                   left: '-213px'
                 });
                 jQuery(this).removeClass('icon-angle-right');
                 jQuery(this).addClass('icon-angle-left');
               }
             });
         	
         	
         				});
      </script>
      <script>
         jQuery(document).ready(function($) {
                       'use strict';
         		try {		
         if ($(".animated")[0]) {
                   $('.animated').css('opacity', '0');
         	}
         	$('.triggerAnimation').waypoint(function() {
                   var animation = $(this).attr('data-animate');
                   $(this).css('opacity', '');
                   $(this).addClass("animated " + animation);
         
         	},
                       {
                           offset: '80%',
                           triggerOnce: true
                       }
         	);
         } catch(err) {
         
         }
         
         var wow = new WOW(
         {
           boxClass:     'wow',      // animated element css class (default is wow)
           animateClass: 'animated', // animation css class (default is animated)
           offset:       150,          // distance to the element when triggering the animation (default is 0)
           mobile:       false        // trigger animations on mobile devices (true is default)
         }
         );
         wow.init();	
         
         
         
         $(function() {
               // this will get the full URL at the address bar
               var url = window.location.href;
         
               // passes on every "a" tag
               $(".main-menu a").each(function() {
                   // checks if its the same on the address bar
                   if (url == (this.href)) {
                       $(this).closest("li").addClass("active");
         		$(this).parents('li').addClass('parent-active');
                   }
               });
           }); 
         
         });    
      </script>
   </body>
</html>
